$white:               #ffffff;
$black:               #000000;
$soft-white:          #F1FBFD;
$soft-white-hover:    #dde7e9;
$blue-primary:        #203554;
$blue-primary-hover:  #375785;
$red-primary:         #ff3a0c;
$soft-grey:           #a6b8cb;
